.layout {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
}
.userModal {
  border-radius: 30px;
  width: 50%;
  padding: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 20px 20px gray;
  transform: translateX(-50%) translateY(-50%) scale(0);
  animation: animate 0.5s linear 1 forwards;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
  border: none;
  background: none;
  font-size: 1.5em;
}

@keyframes animate {
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
